<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Calculator</h1>
<p>
<form id="evaluate" action="/calculator/evaluate" method="post">
    Expression: <input type="text" name="expression"/>
    <input type="submit" value="Evaluate"/>
</form>

<div id="result"></div>
</p>
<p>
<form id="history" action="/calculator/history" method="get">
    <input type="submit" value="Get History"/>
</form>

<div id="history_list"></div>

<form id="integrate" action="/calculator/integral" method="post">
    <p>&int; e<sup>x</sup> from <input type="text" name="startRange" value="0" /> to <input type="text" name="endRange" value="1"/></p>
    <p>Threads: <input type="number" name="threads" value="1"/></p>
    <p>Split: <input type="number" name="splits" value="1" /></p>
    <input type="submit" value="Evaluate"/>
</form>
<div id="integrate_result"></div>
</p>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>

<script>
    $(document).ready(function () {
        $('#evaluate').ajaxForm({
            target: '#result',
            success: function () {
                $('#result').fadeIn('slow');
            }
        });
        $('#history').ajaxForm({
            target: '#history_list',
            success: function () {
                $('#history_list').fadeIn('slow');
            }
        });
        $('#integrate').ajaxForm({
            target: '#integrate_result',
            success: function () {
                $('#integrate_result').fadeIn('slow');
            }
        });
    });
</script>

</html>